<ion-view view-title="Search Results">
    <button class="button button-clear button-positive" ng-click="openPopover($event)">Sort By</button>

    <ion-content>


        <script id="my-popover.html" type="text/ng-template">
            <ion-popover-view>
                <ion-header-bar>
                    <h1 class="title">My Popover Title</h1>
                </ion-header-bar>
                <ion-content>
                    Hello!
                </ion-content>
            </ion-popover-view>
        </script>

        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
        </ion-refresher>

        <div ng-repeat="job in jobs">

            <div class="card " ng-click="changePage({{job.jobId}})">
                <div class="item item-divider item-positive">
                    {{job.jobTitle}}<br> {{job.employerName}} - {{job.locationName}}

                </div>
                <div class="item item-text-wrap positive">
                    {{job.jobDescription}}
                </div>
                <div class="item item-divider item-energized ">
                    <div class="positive">
                        {{job.minimumSalary}} - {{job.maximumSalary}} {{job.currency}}
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>