<ion-view view-title="Search">
    <ion-content>
        <h1>Criteria</h1>
        <div class="list">
            <!--
            <label class="item item-input item-floating-label"><span class="input-label">	employer Id 	 </span><input type="text" placeholder="employer Id"ng-model="filter.employer Id"> </label>
            <label class="item item-input item-floating-label"><span class="input-label">	employerProfileId 	 </span><input type="text" placeholder="employerProfileId"ng-model="filter.employerProfileId"> </label>
           !-->
            <label class="item item-input item-floating-label">
               <span class="input-label">keywords</span>
               <input type="text" placeholder="keywords"ng-model="filter.keywords">
                </label>

            <label class="item item-input item-floating-label">
            <span class="input-label">	location 	 </span>
            <input type="text" placeholder="location"ng-model="filter.location"> 
            </label>
            <!--  <label class="item item-input item-floating-label"><span class="input-label">	distanceFromLocation 	 </span><input type="text" placeholder="distanceFromLocation"ng-model="filter.distanceFromLocation"> </label>
            <label class="item item-input item-floating-label"><span class="input-label">	permanent 	 </span><input type="text" placeholder="permanent"ng-model="filter.permanent"> </label>
            <label class="item item-input item-floating-label"><span class="input-label">	temp 	 </span><input type="text" placeholder="temp"ng-model="filter.temp"> </label>
            <label class="item item-input item-floating-label"><span class="input-label">	partTime 	 </span><input type="text" placeholder="partTime"ng-model="filter.partTime"> </label>
            <label class="item item-input item-floating-label"><span class="input-label">	fullTime 	 </span><input type="text" placeholder="fullTime"ng-model="filter.fullTime"> </label>
            <label class="item item-input item-floating-label"><span class="input-label">	minimumSalary 	 </span><input type="text" placeholder="minimumSalary"ng-model="filter.minimumSalary"> </label>
            <label class="item item-input item-floating-label"><span class="input-label">	maximumSalary 	 </span><input type="text" placeholder="maximumSalary"ng-model="filter.maximumSalary"> </label>
            <label class="item item-input item-floating-label"><span class="input-label">	perHour 	 </span><input type="text" placeholder="perHour"ng-model="filter.perHour"> </label>
            <label class="item item-input item-floating-label"><span class="input-label">	postedByRecruitmentAgency 	 </span><input type="text" placeholder="postedByRecruitmentAgency"ng-model="filter.postedByRecruitmentAgency"> </label>
            <label class="item item-input item-floating-label"><span class="input-label">	postedByDirectEmployer 	 </span><input type="text" placeholder="postedByDirectEmployer"ng-model="filter.postedByDirectEmployer"> </label>
            <label class="item item-input item-floating-label"><span class="input-label">	graduate 	 </span><input type="text" placeholder="graduate"ng-model="filter.graduate"> </label>
            <label class="item item-input item-floating-label"><span class="input-label">	resultsToTake	 </span><input type="text" placeholder="resultsToTake"ng-model="filter.resultsToTake"> </label>
            <label class="item item-input item-floating-label"><span class="input-label">	resultsToSkip 	 </span><input type="text" placeholder="resultsToSkip"ng-model="filter.resultsToSkip"> </label>
-->
        </div>
        <button class="button button-full button-positive" ng-click="search(filter)">
          Search
        </button>
    </ion-content>
</ion-view>